* {
    margin: 0;
    padding: 0;
    transition: .3s;
    font-family: sans-serif;
}

body {
    padding-top: 70px;
    color: white;
    text-shadow: 1px 1px 1px black;
    /* background-color: #4A646C; */
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    padding-left: 200px;
    font-size: 20px;
    font-weight: bold;
}

nav #hamburgemenuicon {
    display: none;
}

nav div {
    display: flex;
}

nav a {
    margin: 0 3px;
    padding: 3px 10px;
    border-radius: 4px;
}

nav a:hover,
nav p:hover {
    color: gold;
}

#herosection {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}

#herosection h1 {
    font-size: 40px;
}

#herosection #mobilewebdev {
    display: none;
}

#herosection #webdev {
    border-radius: 100%;
    width: 40%;
    border: 3px solid white;
    box-shadow: 2px 2px 10px 5px #3B444B;
}

#herosection #downloadBTN {
    background-color: rgba(0, 128, 226, 0.7);
    border-radius: 7px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 17px;
    margin-left: 0;
}

#herosection #downloadBTN:hover {
    background-color: rgba(0, 128, 226, 1);
}

#herosection div a {
    margin: 0 10px;
    background-color: gray;
    padding: 3px 7px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
}

#herosection div a:hover {
    background-color: gold;
}

#about {
    margin-top: 150px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about h1 {
    text-align: center;
    font-size: 40px;
}

#about div {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}

#about img {
    border-radius: 100%;
    width: 40%;
    border: 3px solid white;
}

#about div p {
    margin-top: 30px;
    width: 50%;
}

#skills {
    margin-top: 150px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills h1 {
    text-align: center;
    font-size: 40px;
}

#skills div {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    margin-top: 0;
}

#skills h4 {
    font-size: 25px;
}

#skills h6 {
    font-size: 15px;
}

#skills img {
    height: 80px;
    border: 2px solid white;
    box-shadow: 3px 3px 3px black;
    background-color: #737CA1;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
}

#projects {
    margin-top: 150px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects>section>div {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}

#projects>section>div hr {
    margin-bottom: 30px;
}

#projects>section>div>div {
    margin: 20px 0;
}

#projects h1 {
    text-align: center;
    font-size: 40px;
}

#projects a {
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 1px 1px 1px black;
    background-color: gold;
    color: black;
    text-shadow: none;
}

#contact {
    margin-top: 150px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact h1 {
    text-align: center;
    font-size: 40px;
}

#contact>section>div {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}

#contact>section>div img {
    height: 100px;
    margin: 0 20px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: white;
}

#contact>section>div img:hover {
    box-shadow: 2px 2px 7px black;
}